.todoList {
  background-color: #FFFFFF;
  width: 500px;
  margin: 2rem;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.title {
  font-size: 30px;
  padding: 0.5rem 2rem;
}